extends layout

block content
    .col-lg-4.col-md-6.col-sm-12.centre
        h1.col-lg-12.centre Alex's 
            i.fab.fa-node  Template
    p.lead.col-lg-12.centre Get in touch
    .contact-container
            hr
            .contact-detail.col-lg-12
                p Phone  :
                a(href="tel:+447884945531") 
            hr
            .contact-detail.col-lg-12
                p Email : 
                a(href="mailto:alexbrownfour@gmail.com") 
            hr
            .contact-detail.col-lg-12
                p Instant Message : 
                a(href="http://m.me/4abrown/") 
             
