extends layout

block content
  .col-lg-4.col-md-6.col-sm-12.centre
      h1.col-lg-12.centre Alex's 
            i.fab.fa-node  Template
      p.lead.col-lg-12.centre 
  hr
  .row
    .col-md-12
      p.detail-about.col-lg-12
        | Node template for web development



